<div class="container">
	<div class="row">
    <div class="col-9">
      <h2 class="mb-3">商品一覧</h2>
    </div>

    <div class="col-3 text-right">
    	<%= link_to new_admin_item_path, class: "btn btn-info rounded-circle" do %>
    		<i class="fas fa-plus"></i>
    	<% end %>
    </div>

    <div class="row">
    	<div class="col-12">
      	<table class="table">
        	<thead class="thead-light">
        		<tr>
        			<th>商品ID</th>
							<th>商品名</th>
							<th>税抜価格</th>
							<th>ジャンル</th>
							<th>ステータス</th>
						</tr>
					</thead>
					<tbody>
						<% @items.each do |item| %>
						<tr>
							<td class="info col-xs-1"><%= item.id %></td>
							<td class="text-left"><%= link_to item.name, admin_item_path(item.id) %></td>
							<td><%= item.price.to_s(:delimited) %></td>
							<td><%= item.genre_id %></td><!-- 製作していない 予備コード -->
							<td>
							  <% if item.is_active == true %>
							  <span class="text-success">販売中</span>
							  <% else %>
								<span class="text-secondary">販売停止中</span>
							  <% end %>
							</td>
						</tr>
						<% end %>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>